:is(h1, h2, h3, h4, h5, h6) {
    font-family: 'Raleway', sans-serif;
  }

hr.hr-blury {
  border: none;
  height: 3px;
  background: linear-gradient(to right, transparent, #000, transparent);
  position: relative;
  width: 90%;
  margin: 1rem auto;
}

hr.hr-blury::before {
  content: '';
  display: block;
  border-top: 1px solid #000;
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
}

hr.hr-blury::after {
  content: '';
  display: block;
  border-top: 1px solid #000;
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
}
